.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: transparent url('../../assets/images/Group 17252.png') center center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  overflow: hidden;
  padding-left: 110px;

  @media (max-width: 768px) {
    background: transparent url('../../assets/images/MobileScreen/Group 17252.png') center center / cover no-repeat;
    padding-left: 20px;
  }
}

.overlay {
  position: absolute;
  top: 15px;
  left: 0;
  width: 654px;
  height: 753px;
  background-image: url('../../assets/images/Rectangle 18780@2x.png');
  background-size: cover;
  opacity: 0.52;
  z-index: 1;

  @media (max-width: 768px) {
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/MobileScreen/Rectangle 18780.png'); // Mobile-specific overlay image path
    background-size: cover;
    opacity: 152px;
  }
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 50%;
  padding-top: 90px;

  @media (max-width: 768px) {
    max-width: 90%;
    padding-top: 100px; 
    text-align: left; 

  }

  .sub-heading {
    font-size: 15px;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 500; 
    font-size: 13px;
    letter-spacing: 2.6px;

    @media (max-width: 768px) {
      font-size: 13px;
    }
  }

  .main-heading {
    font-family: Playfair;
    font-size: 70px;
    margin-bottom: 20px;

    @media (max-width: 768px) {
      font-size: 40px;
    }
  }

  .description {
    font-size: 16px;
    margin-bottom: 28px;

    @media (max-width: 768px) {
      font-size: 13px;
    }
  }

  .btn {
    width: 299px;
    height: 55px;
    color: #fff;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; 

    @media (max-width: 768px) {
      width: 230px;
      height: 40px;
      border-radius: 10px;
   
      margin: 20px 0 0; 
    }
  }

  .arrow-icon {
    width: 20px;
    margin-left: 10px;

    @media (max-width: 768px) {
      margin-left: 25px; 
    }
  }
}
