.footer {
  background: var(--gradient-background);
  color: white;

  .footer-separator {
    width: 100%;
    height: 1px;
    background: white;
    margin-bottom: 20px;
  }

  .footer-heading {
    font-family: 'Playfair', serif;
    font-size: 50px;
  }

  .footer-download-text {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .footer-download-img {
    width: 120px;
    height: auto;
  }

  .footer-logo {
    width: 286px;
    height: 65px;
  }

  .footer-icon {
    width: 30px;
    height: auto;
  }

  .footer-column-heading {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
  }

  .footer-row {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @media (max-width: 768px) {
    .footer-row {
      text-align: left !important;
    }

    .footer-download-buttons {
      justify-content: center !important;
    }

    .footer-icons {
      justify-content: flex-start !important;
    }

    .footer-logo {
      margin: 0;
      width: 200px;
      height: 46px;
      margin-bottom: 20px;
      margin-right: 20px;
    }

    .d-flex {
      flex-direction: row !important;
      flex-wrap: wrap;
    }

    .footer-column-heading {
      margin-bottom: 10px;
    }

    .footer-icons {
      justify-content: flex-start !important;
      flex-wrap: nowrap;
    }

    .footer-icons img {
      margin-bottom: 0;
    }

    .footer-heading {
      font-family: 'Playfair', serif;
      font-size: 35px;
    }

    .footer-download-text {
      font-family: 'Inter', sans-serif;
      font-size: 10px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    .footer-download-img {
      width: 120px;
      height: auto;
      margin-right: 20px;
    }
  }
}
