.featured-section {
  padding: 40px 20px;
  color: white;
  background: var(--gradient-background);
  margin-top: 140px;

  .featured-section-heading {
    font-family: 'Playfair', serif;
    font-size: 50px;
  }

  .btn-gradient {
    width: 299px;
    height: 55px;
    color: #fff;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #AD8749, #DCBB75);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #e64a19;
    }
  }

  .featured-arrow-icon {
    width: 23px;
  }

  .featured-slider {
    .slick-slide {
      padding: 0 5px; // Minimize gap between cards
      box-sizing: border-box;
      transition: transform 0.3s ease-in-out;

      &.slick-center {
        transform: scale(1.1);
      }
    }

    .featured-slider-item {
      transition: transform 0.3s ease-in-out;
      background-size: cover;
      background-position: center;
      border-radius: 25px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      img {
        border-radius: 25px 25px 0 0;
        width: 100%;
        height: auto;
        object-fit: cover;
      }

      .featured-image-heading {
        margin-top: 10px;
        font-family: 'Playfair', serif;
        font-size: 20px;
        color: white;
        text-align: center;
        padding: 10px;
        border-radius: 0 0 25px 25px;
        background: none; // Remove background color
      }

      &.featured-large {
        width: 285px;
        height: 426px;
      }

      &.featured-small {
        width: 228px;
        height: 322px;
      }
    }
  }

  @media (max-width: 768px) {
    .featured-section-heading {
      font-size: 30px;
    }

    .btn-gradient {
      width: 100%;
      max-width: 240px;
      height: 50px;
      font-size: 10px;
    }

    .featured-slider {
      .featured-slider-item {
        width: 150px;
        height: 200px;
        margin-bottom: 20px;

        &.featured-large,
        &.featured-small {
          width: 150px;
          height: 200px;
        }

        .featured-image-heading {
          font-size: 35px; // Adjust font size for mobile
        }
      }
    }
  }
}
