/* src/components/InfoSection/InfoSection.scss */
.info-section {
    display: flex;
    align-items: center;
    padding: 40px 20px;
    background: var(--gradient-background);
  
    .info-image {
      flex: 1;
      img {
        width: 100%;
        height: auto;
        border-radius: 25px;
      }
    }
  
    .info-content {
      flex: 1;
      padding-left: 20px;
  
      .info-heading {
        font-family: 'Inter', sans-serif;
        font-size: 2rem;
        margin-bottom: 10px;
      }
  
      .info-description {
        font-size: 1.2rem;
        margin-bottom: 20px;
      }
  
      .info-button {
        padding: 10px 20px;
        font-size: 1rem;
        background: linear-gradient(90deg, #AD8749, #DCBB75);
        border: none;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #e64a19;
        }
      }
    }
  
    @media (max-width: 768px) {
      flex-direction: column;
  
      .info-content {
        padding-left: 0;
        padding-top: 20px;
        text-align: center;
      }
    }
  }
  