.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: 50px 0;

  .heading {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    margin-bottom: 10px;

    @media (max-width: 768px) {
      font-size: 32px;
      text-align: center;
    }
  }

  .description {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 10px;
      padding: 0 10px;
    }
  }

  .video-wrapper {
    position: relative;
    width: 904px;
    height: 502px;
    background: transparent url('/assets/images/0D8p9dAs8EPZMZw8pLA9gCxuVb7IL4RCfXkJAaJe@2x.png') center center / cover no-repeat;
    opacity: 1;

    @media (max-width: 768px) {
      width: 270px;
      height: 153px;
      background: transparent url('/assets/images/MobileScreen/Group 17344.png') center center / cover no-repeat;
    }

    .thumbnail {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 76px;
      height: 76px;
      background: transparent url('/assets/images/icons/Ellipse 701.png') center center / cover no-repeat;
      opacity: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 768px) {
        width: 10px;
        height: 10px;
      }

      .play-circle {
        width: 40px;
        height: 40px;
      }

      .play-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) matrix(0, 1, -1, 0, 0, 0);
        width: 29px;
        height: 34px;
        background: transparent url('/assets/images/icons/Polygon 1.png') center center / cover no-repeat;
        opacity: 1;

        @media (max-width: 768px) {
          width: 5px;
          height: 5px;
        }
      }
    }
  }

  .info-container {
    position: relative;
    top: 60px;
    width: 904px;
    height: 235px;
    background: #3d4918;
    border-radius: 25px;
    opacity: 0.5;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    @media (max-width: 768px) {
      top: 100px;
      // left: 22px;
      width: 270px;
      height: 153px;
      border-radius: 25px;
      padding: 25px;
      flex-direction: column;
      text-align: center;
      top: 30px;
      background: rgba(61, 73, 24, 0.5);
    }

    .text-content {
      display: flex;
      flex-direction: column;

      .subheading {
        font-size: 20px;
        margin-bottom: 5px;

        @media (max-width: 768px) {
          font-size: 18px;
        }
      }

      .info-description {
        font-size: 16px;

        @media (max-width: 768px) {
          font-size: 14px;
        }
      }
    }

    .icon {
      width: 50px;
      height: 50px;

      @media (max-width: 768px) {
        width: 40px;
        height: 40px;
        margin-top: 10px;
      }
    }
  }
}

@media (max-width: 768px) {
  .video-wrapper {
    width: 100%;
    aspect-ratio: 16/9;
  }

  .info-container {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
}
